* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto Slab", serif;
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: none;
  border-bottom: none;
  display: flex;
  margin-bottom: 0;
  position: fixed;
  z-index: 10;
}

.navbar .linkjesRechts {
  width: fit-content;
  height: 60%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.navbar .linkjesRechts .login {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.4s;
}

.navbar .linkjesRechts .login:hover,
.navbar .linkjesRechts .contact:hover {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
}

.navbar .linkjesRechts .login p,
.navbar .linkjesRechts .contact p {
  font-size: 15px;
}

.navbar .linkjesRechts .login .fa-person-circle-plus,
.navbar .linkjesRechts .login .fa-user-tie,
.navbar .linkjesRechts .contact .fa-id-card-clip {
  font-size: 15px;
}

.navbar .linkjesRechts .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  width: 100px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.navbar .logoContainer {
  width: fit-content;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  display: flex;
}

.navbar .logoContainer h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.navbar .logoContainer img {
  height: 80px;
}

@media only screen and (max-width: 560px) {
  .navbar .logoContainer h1 {
    display: none;
  }
}

@media only screen and (max-height: 500px) {
  .navbar {
    background-color: #b5f8fe;
    border-bottom: solid 2px black;
  }
}

.slideshow-container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container img {
  width: 100%;
  height: auto;
  overflow: auto;
}

@media only screen and (max-width: 1300px) {
  .slideshow-container img {
    height: auto;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow-container .boekcontainer {
  position: absolute;
  min-width: 80%;
  width: auto;
  min-height: 350px;
  height: auto;
  background-color: #b5f8fe;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
}

.slideshow-container .boekcontainer .rij1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.slideshow-container .boekcontainer .rij1 .van-waar {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow-container .boekcontainer .rij1 .van-waar .labelInput {
  width: 100%;
  height: fit-content;
}

.slideshow-container .boekcontainer .rij1 .van-waar .labelInput label {
  font-size: 13px;
  color: rgb(189, 189, 189);
}

.slideshow-container .boekcontainer .rij1 .van-waar input {
  width: 100%;
  height: 24px;
  padding-top: 12px;
  padding-bottom: 2px;
  padding-left: 3px;
  border: none;
  background-color: #b5f8fe;
  border-bottom: 2px solid black;
  font-size: 15px;
}

.slideshow-container .boekcontainer .rij2 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.slideshow-container .boekcontainer .rij2 .rij2Blok input {
  width: 100%;
  height: 24px;
  padding-bottom: 2px;
  padding-left: 3px;
  border: none;
  background-color: #b5f8fe;
  border-bottom: 2px solid black;
  font-size: 15px;
}

.slideshow-container .boekcontainer .rij2 .rij2Blok select {
  width: 100%;
  height: 24px;
  padding-bottom: 2px;
  padding-left: 3px;
  border: none;
  background-color: #b5f8fe;
  border-bottom: 2px solid black;
  font-size: 15px;
}

.slideshow-container .boekcontainer .rij2Blok {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slideshow-container .boekcontainer form button {
  background-color: orange;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  float: right;
  margin-right: 10px;
  padding: 5px;
}
/*//////////////////////////////////////|
-----------overons------------|
////////////////////////////////////////|*/

.overons_container {
  width: 100%;
  height: auto;
  padding: 100px;
  overflow: auto;
  background-image: linear-gradient(#f75590, #ffe74c, #89daff);
  font-weight: 550;
}

.overons_container .overons_container h1 {
  font-size: 35px;
  font-weight: 700;
}

.overons_container .overons_tekst {
  width: 100%;
  height: auto;
  padding: 20px;
}

.overons_container .overons_tekst p {
  font-size: 15px;
}

.overons_container .overons_geschiedenis {
  width: 100%;
  height: auto;
  padding: 20px;
}

.overons_container .overons_waarom h2 {
  font-size: 35px;
}

.overons_container .overons_waarom {
  width: 100%;
  height: auto;
}

.overons_container .overons_waarom ul {
  padding: 40px;
}

.overons_container .overons_veiligheid {
  padding: 20px;
}

.overons_container .overons_belofte {
  padding: 20px;
}

.overons_container .overons_adres {
  padding: 20px;
}

@media only screen and (max-width: 610px) {
  .overons_container {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 502px) {
  .overons_container {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

/*//////////////////////////////////////|
-----------contact------------|
////////////////////////////////////////|*/

.contact_form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-image: linear-gradient(#576490, #f75590);
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  color: #89daff;
}

.contact_form form {
  width: auto;
  height: auto;
}

.contact_form input {
  padding: 10px;
  margin: 5px;
}

.contact_form input[type="submit"] {
  background-color: #ffe74c;
  box-shadow: 3px 3px #000;
}

.contact_form input[type="submit"]:active {
  background-color: #f75590;
  transform: translateY(4px);
}

/*///////////////////////////////////////|
-------------------login-----------------|
/////////////////////////////////////////|*/

.logincontainer {
  top: 0;
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.logincontainerTijdelijk {
  display: flex;
}

.logincontainer .loginveld {
  width: 400px;
  height: fit-content;
  background-color: #89daff;
}

.logincontainer .loginveld .pictureContainer,
.logincontainer .signupContainer .pictureContainer {
  width: 300px;
  height: auto;
  background-color: lightgreen;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 10px;
}

.logincontainer .loginveld .pictureContainer img,
.logincontainer .signupContainer .pictureContainer img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.logincontainer .invoerContainer,
.logincontainer .signupContainer .invoerContainer {
  width: 100%;
  height: fit-content;
  padding: 10px;
}

.logincontainer .invoerContainer p,
.logincontainer .signupContainer .invoerContainer p {
  margin-bottom: 3px;
}

.logincontainer .invoerContainer input,
.logincontainer .signupContainer .invoerContainer input {
  width: 100%;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}

.logincontainer .invoerContainer button,
.logincontainer .signupContainer .invoerContainer button {
  width: 65px;
  height: 40px;
  border-radius: 20px;
  margin-left: auto;
  display: block;
  margin-top: 10px;
  background-color: #547cff;
}

.logincontainer .signupContainer {
  width: 400px;
  min-height: 500px;
  height: fit-content;
  background-color: #89daff;
}

/*//////////////////////////////////////|
-----------footer------------|
////////////////////////////////////////|*/

.footer {
  width: 100%;
  height: auto;
  padding: 50px;
  background-color: #576490;
  color: #fff;
}

.footer_lijst {
  width: 100%;
  height: auto;
}

.footer .footer_lijst ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer .footer_lijst h3 {
  margin: 75px;
  font-size: 25px;
  color: #ffe74c;
}

.footer .footer_lijst li {
  font-size: 15px;
}

.footer .footer_lijst a {
  color: #89daff;
  transition: 1s;
  font-size: 15px;
}

.footer .footer_lijst a:hover {
  text-decoration: underline;
  color: #f75590;
}

.footer .footer_lijst .download_crudairlines_footer img {
  background-color: #fff;
  width: 135px;
  height: auto;
  border-radius: 10px;
}

@media only screen and (max-width: 1350px) {
  .footer {
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .footer {
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 550px) {
  .footer .footer_lijst h3 {
    margin: 15px;
  }
}

/*///////////////////////////////////////|
-------------------admin-----------------|
/////////////////////////////////////////|*/

.navbar_admin {
  width: 100%;
  height: auto;
  padding: 16px;
  text-decoration: none;
  background-image: linear-gradient(to right, #f75590, #ffe74c, #b5f8fe);
}

.navbar_admin ul {
  display: flex;
  justify-content: center;
  width: 100;
  height: auto;
}

.navbar_admin li {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar_admin a {
  color: #576490;
  transition: 1s;
}

.navbar_admin a:hover {
  color: #21897e;
  text-decoration: underline;
}

.welkom_admin {
  width: 100%;
  height: auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #b5f8fe, #89daff);
}

.welkom_admin p {
  margin: 10px;
  font-size: 30px;
  text-align: center;
}

/*///////////////////////////////////////|
---------------vluchten------------------|
/////////////////////////////////////////|*/

.vluchtencontainer {
  margin-top: -5px;
  width: 100%;
  min-height: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: blue;
  padding-left: 5px;
  padding-right: 5px;
}

.vluchtencontainer .vlucht {
  width: 450px;
  height: 250px;
  background-color: white;
  display: flex;
}

.vluchtencontainer .vlucht .tekst {
  width: 75%;
  height: 100%;
}

.vluchtencontainer .vlucht .plaatje {
  height: 100%;
  width: 25%;
  background-color: green;
}

.vluchtencontainer .vlucht .tekst .van-naar {
  width: 100%;
  height: 15%;
  background-color: purple;
  display: flex;
}

.vluchtencontainer .vlucht .tekst .van-naar .van {
  width: 50%;
  height: 100%;
  background-color: chartreuse;
}

.vluchtencontainer .vlucht .van-naar .naar {
  width: 50%;
  height: 100%;
  background-color: forestgreen;
}

.vluchtencontainer .vlucht .tekst .tijden {
  width: 100%;
  height: 15%;
  background-color: #f75590;
  display: flex;
}

.vluchtencontainer .vlucht .tekst .tijden .begintijd {
  width: 50%;
  height: 100%;
  background-color: mediumspringgreen;
}

.vluchtencontainer .vlucht .tijden .eindtijd {
  width: 50%;
  height: 100%;
  background-color: lightskyblue;
}

.vluchtencontainer .vlucht .zitplaatsen {
  width: 100%;
  height: 15%;
  background-color: blanchedalmond;
}

.vluchtencontainer .vlucht .prijs-aantal {
  height: 40%;
  width: 100%;
  background-color: chocolate;
  display: flex;
}

.vluchtencontainer .vlucht .prijs-aantal .prijs {
  width: 50%;
  height: 100%;
  background-color: greenyellow;
}

.vluchtencontainer .vlucht .prijs-aantal .aantal-pers {
  width: 50%;
  height: 100%;
  background-color: dimgray;
}

.vluchtencontainer .vlucht .stuur {
  height: 15%;
  width: 100%;
  background-color: paleturquoise;
}
