* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: none;
  border-bottom: none;
  display: flex;
  margin-bottom: 0;
  position: fixed;
  z-index: 10;
}

.navbar .linkjesRechts {
  width: fit-content;
  height: 60%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.navbar .linkjesRechts .login {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 1.5s;
}

.navbar .linkjesRechts .login:hover,
.navbar .linkjesRechts .contact:hover {
  background-color: #89daff;
}

.navbar .linkjesRechts .login p,
.navbar .linkjesRechts .contact p {
  font-size: 15px;
}

.navbar .linkjesRechts .login .fa-person-circle-plus,
.navbar .linkjesRechts .login .fa-user-tie,
.navbar .linkjesRechts .contact .fa-id-card-clip {
  font-size: 15px;
}

.navbar .linkjesRechts .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  transition-duration: 1.5s;
}

.navbar .logoContainer {
  width: fit-content;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  display: flex;
}

.navbar .logoContainer h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.navbar .logoContainer img {
  height: 80px;
}

@media only screen and (max-width: 560px) {
  .navbar .logoContainer h1 {
    display: none;
  }
}

@media only screen and (max-height: 500px) {
  .navbar {
    background-color: #b5f8fe;
    border-bottom: solid 2px black;
  }
}

.slideshow-container {
  width: 100%;
  max-height: 500px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container img {
  width: 100%;
  height: auto;
  overflow: auto;
}

@media only screen and (max-width: 1300px) {
  .slideshow-container img {
    height: auto;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow-container .boekcontainer {
  margin-top: 120px;
  position: absolute;
  min-width: 80%;
  width: auto;
  min-height: 400px;
  height: auto;
  background-color: #b5f8fe;
  opacity: 0.9;
}

.slideshow-container .boekcontainer .rij1 {
  width: 100%;
  height: 100px;
  background-color: #89daff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.slideshow-container .boekcontainer .rij1 .van-waar {
  width: 40%;
  height: 100%;
  background-color: green;
}
